/* .titleDiv_Class{
  position: relative;
  z-index: 1;
}

.webSiteLogo_Class{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.connectionButton_Class{
  border-radius: 10px;
  cursor: pointer;
  position: fixed;
  top: 2rem;
  right: 2rem;
} */ */







.footer{
  position: absolute;
  bottom: 0;
}
