html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* overflow-x: hidden; */
}

* {
  box-sizing: border-box;
}


@font-face {
  font-family: 'Somber';
  src: url('./assets/Somber_Sans_Demo.ttf') format('truetype');
}