.nameTitle_Class{
  font-family: "Questrial";
  font-size: 25px;
}


.subTitle_Class{
  font-family: "Questrial";
  font-weight: bold;
  font-size: 16px;
}

.textImageContainer_class{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 50%; */
}

.titleDiv_Class{
  position: relative;
  z-index: 1;
}

.webSiteLogo_Class{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.connectionButton_Class{
  border-radius: 10px;
  cursor: pointer;
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.presentation_Class{
  position: relative;
  height: 20rem;
  font-family: 'Questrial';
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.PresentationText_Class{
  font-size: 30px;
}
.presentation_Class img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}



.galerieSpan_Class{
  width: 80%;
  margin: 0 auto;
}

.galerieSpan_Class img{
  margin: 2rem 2rem 2rem 2rem;
}