.collectionElementUpdateInformationContainer{
    display: flex;
    flex-direction: column;
    background-color: rgba(228, 220, 209, 0.4);
    width: 100%;
    margin-top: 2rem;
    padding-left: 2rem;
    margin-right: 2rem;
}

.collectionElementLeftRightContainer{
    display: grid;
    grid-template-columns: minmax(200px, 2fr) minmax(100px, 1fr);
    width: 100%;
    gap: 1rem;
    box-sizing: border-box;
}


.collectionElementLeftContainer textarea{
    box-sizing: border-box;
    width: 100%;
}

.collectionElementInformationsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    align-items: flex-start;
    justify-items: start;
}

#collectionElementDescription{
    width:100%;
    height: 30rem;
}

.collectionElementEmailCookingRecoContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.collectionElementEmailCookingRecoContainer input{
    display:block;
    width:80%;
}

.updateCollectionButtonContainer{
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;
}

.updateCollectionButton{
    font-family: "Somber";
    font-size: 1.5rem;
    background-color:transparent;
    border-color: black;
    border-style: solid;
    width:auto;
    height: 100%;
    margin-right: 2rem;
}