.portraitContainer{
    font-family: "Questrial";
}


.titleText{
    font-size: 30px;
    font-weight: bold;
}

.presentationContainer{
    display: flex;
    align-items: top;
}

.presentationContainerRight{
    padding-left: 5rem;
    padding-right: 5rem;
}

.presentationContainer img{
    height: 15rem;
    width: auto;
}

.presentationContainerRight img{
    height: 5rem;
}

.presentationContainerRight p{
    font-size: 2;
}