.scrollToTopContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.scrollToTopContainer img{
    height: 2rem;
    width: auto;
}