.collectionElementInformationUpdateCreateContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 20rem;
}


.collectionElementInformationUpdateCreateContainer input{
    margin-right: 2rem;
    max-width: 25rem;
    
}

.collectionElementInformationUpdateCreateContainer img,
.AddInputContainer img
{
    height: 1rem;
}


.AddInputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: flex-start;
}

.AddInputContainer p{
    text-align: left;
    max-width: 25rem;
    margin-right: 2rem;
}