.collectionElementInformationUpdateCreateContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.collectionElementInformationUpdateCreateContainer input{
    height: 1rem;
    margin-right: 10px;
    
}

.collectionElementInformationUpdateCreateContainer img,
.AddInputContainer img
{
    height: 1rem;
}


.AddInputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}