.connectionContainer{
    display: flex;
    flex-direction: column;
    font-family: "Questrial";
}

.credentialForm{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.labelContainer{
    width: 9rem;
}

.formInput{
    display: flex;
    margin-bottom: 1rem;
}

.formInput label{
    margin-right: 2rem;
}

.loginButton{
    left: 0;
    margin-top: 1rem;
    font-family: "Questrial";
    font-size: 20px;
    border: none;
    border-radius: 30px;
    background-color: #E4DCD1;
    width: 6rem;
    height: 2rem;
}