:root{
    --pictureMargin: 20px
}


.collectionElementNewPictureContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top:var(--pictureMargin);
    margin-bottom:var(--pictureMargin); 
}

.collectionElementSinglePictureContainer{
    width: 100%;
    display: grid;
    place-items: center;
    margin-top:var(--pictureMargin);
    margin-bottom:var(--pictureMargin);
}
