/* .collectionElementInformationContainer{
    padding-top: 2rem;
}

.collectionElementInformationContainer label{
    font-size: 18px;
}  */

.inputContainer{
    display: flex;
    flex-direction: column;
}

.collectionElementCreationButton{
    font-family: "Questrial";
    font-size: 19px;
    background-color: #E4DCD1;
    border-color: black;
    border-style: solid;
    width:75%;
    height: 100%;
    
}