.adminHeaderContainer{
  display: flex;
  align-items: center;
  gap: 3rem;
  margin: 0 3rem 3rem 3rem ;
  padding: 2rem;
  background-color: rgba(228, 220, 209, 0.4);

}

.adminHeaderContainer :Link{
  font-family: 'Questrial';
  color:black;
}