.collectionsContainer{
    font-family: "Questrial";
    color:black;
}


.collectionsTitleContainer{
    text-align: center;
    font-size: 16px;
    padding: 0 5rem 5px 0;
}


.collectionItem{
    width: 100%;
    margin-top:2rem;
    margin-bottom:2rem;
    height:auto;
    /* width: 15rem; */
}


.collectionItemsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
}