.collectionElementContainer{
    font-family: "Questrial";
}

.collectionElementTitleContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.collectionElementPicturesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


/* information CSS */
.collectionElementInformationContainer{
    display: grid;
    grid-template-columns: 2fr 1fr;
}




.collectionElementLeftContainer{
    padding-left: 1rem;
    padding-right: 1rem;
}
.collectionElementRightContainer{
    padding-left: 1rem;
    padding-right: 1rem;
}


.navigationElementContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navigationElementContainer button{
    margin-left: 2rem;
    margin-right: 2rem;
}

.navigationElementButtonContainer{
    display: flex;
    align-items: center;
}

.navigationElementCollectionPicture img{
    height: 70px;
    width: 70px;
}