.InputContainer{
    display: flex;
    
}

.deleteButtonContainer{
    display: flex;
    justify-items: flex-end;
    align-items: center;
}

.deleteButtonContainer img{
    width:20px;
    height: auto;

}