.InputContainer{
    display: flex;
    
}

.deleteButtonContainer{
    margin: 0 auto;
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.deleteButtonContainer img{
    width:20px;
    height: auto;

}