.contactContainer{
    margin-left: 8rem;
    margin-right: 8rem;
    font-family: "Questrial";
    text-align: center;
}

.contactContainer h1{
    font-family: "Somber";
}


.socialMediaContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(228, 220, 209, 0.4);
    margin-bottom: 2rem;
    padding: 1rem 2rem 2rem 2rem;
}

.socialMediaLogosContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.socialMediaLogosContainer img{
    height:5rem;
    width: auto;
    margin: 1px 100px 10px 100px;
}