.links_Class{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Questrial";
  font-size: 12px;
}

.links_Class a{
  padding-left: 2rem;
  padding-right: 2rem;
  
}

.nameTitle_Class{
  font-family: "Questrial";
  font-size: 25px;
}


.subTitle_Class{
  font-family: "Questrial";
  font-weight: bold;
  font-size: 16px;
}

.textImageContainer_class{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 50%; */
}

.titleDiv_Class{
  position: relative;
  z-index: 1;
}

.webSiteLogo_Class{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.connectionButton_Class{
  border-radius: 10px;
  cursor: pointer;
  position: fixed;
  top: 2rem;
  right: 2rem;
}


.footer_Class{
  align-items: center;
  justify-content: center;
  background-color: #E4DCD1;
  font-family: "Questrial";
  font-size: 12px;
  
}


.footerTextSpan_Class{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerTextSpan_Class p{
  padding-left: 2rem;

}