.collectionCreationForm{
    margin-top: 2rem;
    padding: 2rem 1rem 2rem 1rem;
}

.collectionCreationInput{
    display: flex;
    flex-direction: column;
}

.collectionCreationInput input{
    width: 50%;
}

.collectionCreationInput label{
    font-size: 18px;
}

.createCollectionButton{
    font-family: "Questrial";
    font-size: 19px;
    background-color: #E4DCD1;
    border-color: black;
    border-style: solid;
    width:30%;
    height: 100%;
}