.CollectionCreationContainer{
    font-family: 'Questrial';
    margin: 0 4rem 0 4rem ;
    padding: 4rem;
    padding-right: 4rem;
    background-color: rgba(228, 220, 209, 0.4);
}


.collectionCreationForm{
    display: flex;
    flex-direction: column;
}

.collectionCreationInput input{
    width: 50%;
}

.collectionCreationInput label{
    font-size: 18px;
}

.createCollectionButton{
    font-family: "Questrial";
    font-size: 1.5rem;
    background-color: #E4DCD1;
    border-color: black;
    border-style: solid;
    width:30%;
    height: 100%;
    margin-left: auto;
}